*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    perspective: 800px;
}

.btn-div{
    position: relative;
    height:150px;
    width:400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.btn-div:hover{
    transform: rotateX(-90deg);
}

.side{
    width:80%;
    height:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    letter-spacing:3px;
}

.default-side{
    background-color: white;
    border:10px solid dodgerblue;
    color:dodgerblue;
    transform:translateZ(75px)
}

.flipped-side{
    background-color: dodgerblue;
    color:white;
    transform: rotateX(90deg) translateZ(75px);
}