*{
    box-sizing: border-box;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto','Lato',system-ui;
    margin:0;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
h1,h2{
    font-weight: 100;
}
.container{
    text-align: center;
    width:fit-content;
    margin:3rem 2rem 2rem 2rem;
}

body.dark{
    background-color: #1f1f1f;
    color:white;
}

label{
    user-select: none;
}

.toggle-container{
    position: fixed;
    top:10px;
    right:10px;
    background-color: white;
    padding:0.3rem;
    border-radius:1rem;
    color:#1f1f1f;
}